@import '../helpers/variables';
@import '../helpers/extends';
@import '../helpers/mixins';

.icons {
    &:hover {
        color: $font-awesome;
        cursor: pointer;
    }

    i {
        font-size: 5.5em;
    }

    h1 {
        letter-spacing: 1.2px;
        font-size: 1.5em;
    }

    + p {
        color: $paragraph-color;
        font-size: 18px;
    }
}

.text {
    &:hover {
        color: $font-awesome;
        cursor: pointer;
    }

    > h1 {
        font-size: 35px;
        font-family: $featured-works-font;
        text-transform: uppercase;
    }

    p {
        color: $paragraph-color;
        font-size: 20px;
    }
}
