@import '../helpers/variables';

.contact {
    background: $contact-footer-bg;
    float: left;
    margin-bottom: 0px;
    color: #fff;
    width: 100%;

    figure {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 5%;

        > div {
            padding-left: 12.5%; //*3
        }
    }
}

.head {
    h1 {
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 35px;

        &:after {
            content: " ";
            display: inline-block;
            width: 20%;
            border: 2px solid #fff;
            margin-left: 5px;
        }
    }
}

.contact-elem {
    float: left;

    div {
        padding: 0;
        padding-bottom: 10px;

        h4 {
            margin: 0;
            text-align: left;
            text-transform: uppercase;
        }

        p {
            margin: 0;
            text-align: left;
            color: $contact-paragraph;
        }
    }
}

.about-as {
    padding: 0;

    div {
        padding: 0;
    }

     p {
        text-align: left;
        font-size: 20px;
        color: $contact-paragraph;
    }
}

.social-elem {
    float: left;

    .social-text {
        p {
            text-align: left;
            color: $contact-paragraph;
            font-size: 20px;
            margin-top: 0;
            max-width: 360px;
        }
    }

    .social-media {

        float: left;
        width: 100%;

        padding-top: 25px;

        i {
            font-size: 15px;
            display: inline-block;
            float: left;
            padding: 10px;
            border: groove;
            border: $contact-icon;
            background-color: $contact-icon;
            border: 1px solid #313332;
            width: 35px;

            &:hover {
                background: $contact-icon-hover;
                cursor: pointer;
            }

            &:first-child {
                margin: 0;
            }
        }
    }
}

footer  {
     div {
         float: left;
         text-align: center;
         width: 100%;
         background: #fff;
         color: #797979;
         font-weight: bold;
    }
}
