@import '../helpers/variables';
@import '../helpers/extends';
@import '../helpers/mixins';

figure {
    margin: 0px;
    position: relative;
    padding: 0px !important;

    > img {
        @include size(100%, 350px);
        border: 1px solid #fff;
    }

    .dark-img {
        position: absolute;
        bottom: 0;
        color: white;
        @include size(100%, 100%);
        @include flexbox-center(flex, none, center, center);

        i {
            display: none;
            padding: 2px;
        }

        &:hover {
            background: $gallery-backout;
            cursor: pointer;

            i {
                display: block;
            }
        }
    }
}
