@import '../helpers/variables';

.container {
    width: 100%;
    margin: 0 auto;
}

section {
    margin-bottom: 200px;
    text-align: center;
}

article {
    float: left;
    margin-bottom: 130px;
}

.container:after,
.row.after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-width: 1px;
    display: inline-block;
}

@media #{$breakpoint-small} {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;

        figure {
            width: 50%;
        }
    }


    @for $i from 1 through $grid-columns {
        .col-sm-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}

@media #{$breakpoint-tablet} {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }

    .contact {
        display: inline-block;
        flex-direction: column;
        align-items: center;

        figure {
            float: left;
            width: 32%; // 96% + 4% // + float: left = center

            &:first-child {
                margin-left: 4%;
            }
        }
    }

    @for $i from 1 through $grid-columns {
        .col-lg-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}


@media #{$breakpoint-mobail} {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            padding: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            padding-bottom: 5px;

            li {
                margin-right: 12px;
            }
        }
    }
    //people section
    .photo {
        transform: scale(0.7);

        + h3 {
            padding-left: 0;
            font-size: 17px;
        }
    }
    //contact-footer
    .contact {
        figure {
            margin-top: 10px !important;
            margin-bottom: 10px !important;

            .head {
                h1 {
                    font-size: 19px;
                    min-width: 200px;
                }
            }

            p {
                font-size: 15px;
            }

            .social-elem {
                p {
                    font-size: 17px;
                }
            }
        }
    }

    @for $i from 1 through $grid-columns {
        .col-md-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}
