@import '../helpers/variables';

.container {
    width: 100%;
    margin: 0 auto;
}

section {
    margin-bottom: 150px;
    text-align: center;
}

article {
    float: left;
    margin-bottom: 100px;
}

.container:after,
.row.after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-width: 1px;
    display: inline-block;
}

@media #{$breakpoint-small} {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }

    @for $i from 1 through $grid-columns {
        .col-sm-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}

@media #{$breakpoint-mobail} {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            padding: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            padding-bottom: 5px;

            li {
                margin-right: 12px;
            }
        }
    }

    @for $i from 1 through $grid-columns {
        .col-md-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}

@media #{$breakpoint-tablet} {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }



    @for $i from 1 through $grid-columns {
        .col-lg-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}

@media #{$breakpoint-desktop} {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
        .col-xl-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}
