@import '../helpers/variables';
@import '../helpers/extends';

.hero {
    background: url('../img/jumbo5.jpg');
    color: $white;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 75vh;

    h1 {
        margin: 0;
        font-size: 30px;
    }

    h5 {
        margin: 0;
    }

    .slogan {
        position: absolute;
        right: 0;
        top: 300;
        background: rgba(0, 0, 0, 0.8);
        padding: 34px;
        line-height: 35px;
        letter-spacing: 0.2em;
        border-radius: 3px;
    }
}
