@import '../helpers/variables';
@import '../helpers/extends';
@import '../helpers/mixins';

.photo {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    height: 275px;
    margin: 10px;


    .name-position {
        top: 0;
        position: absolute;
        color: #fff;
        font-size: 23px;
        font-family: $people-font;
        text-transform: uppercase;
        background: $people-bg-color;
        @include size(100%, 100%);
        @include flexbox-center(flex, none, center, center);

        &:hover {
            background: rgba(0, 0, 0, 0.1);

            h3 {
                display: none;
            }
        }
    }

    + h3 {
        font-size: 22px;
        padding-left: 10px;
        font-weight: 900;
    }

    > img {
        @include size(100%, 275); //width height
    }
}
