@import './helpers/variables';
@import './layout/grid';
@import 'layout/header';
@import 'layout/Jumbotron';
@import 'layout/content';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
}
