@import 'helpers/variables';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/Jumbotron';
@import 'layout/content';
@import 'layout/gallery';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
}
